edition-archive-backend/edition-archive-backend-module/src/main/resources/datamodel-source.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xalan="http://xml.apache.org/xalan" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified">
  <xs:annotation>
    <xs:documentation>Generated by org.mycore.plugins:datamodel-plugin:0.7</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="http://www.w3.org/XML/2008/06/xlink.xsd"/>
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
  <xs:include schemaLocation="mcrcommon-datamodel.xsd"/>
  <xs:element name="structure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="parents" minOccurs="0"/>
        <xs:element ref="children" minOccurs="0"/>
        <xs:element ref="derobjects" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="metadata">
    <xs:complexType>
      <xs:all>
        <xs:element ref="def.source"/>
      </xs:all>
      <xs:attribute ref="xml:lang" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="def.source">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="source"/>
      </xs:sequence>
      <xs:attribute name="class" use="required" type="xs:NCName" fixed="MetaJSON"/>
      <xs:attribute name="notinherit" type="xs:boolean" use="required" fixed="true"/>
      <xs:attribute name="heritable" type="xs:boolean" fixed="false"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="source">
    <xs:complexType>
      <xs:any/>
      <xs:attributeGroup ref="MCRMetaXML"/>
      <xs:attributeGroup ref="notInherited"/>
      <xs:attribute name="class" use="required" type="xs:NCName" fixed="de.gbv.metadata.model.RegestSource"/>
      <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
